body {
  margin: 0;
}

.navText {
  color: blue;
}

.imageBox {
  display: flex;
  flex-wrap: wrap;
}

.imageCell {
  /* display: inline; */
  margin: 5px;
}

.image {
  cursor: pointer;
  width:200px;
}

.single-photo {
  width: 100%;
}
